html {
  background: linear-gradient(45deg, #12d919, #3112d9);
  background-size: 400% 400%;

  -webkit-animation: slide 10s ease infinite;
  -moz-animation: slide 10s ease infinite;
  animation: slide 10s ease infinite;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@-webkit-keyframes slide {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes slide {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes slide {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/*html  {
  background-image: url('fuck.gif');
  background-size: cover;
}*/
